body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #cccccc;
}

div {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

h1 {
  margin: auto;
}

hr {
  margin: 0;
  border: 0.5px solid black;
}

.border {
  border: none;
  border-radius: 1px;
  box-shadow: inset -1px -1px 1px black, inset 1px 1px 1px white;
}

button {
  height: 30px;
  width: auto;
  box-sizing: border-box;
}

.active {
  box-shadow: inset 1px 1px 1px black, inset -1px -1px 1px white;
  background: #eeeeee;
}

.app {
  width: 360px;
  height: 640px;
  background: #cccccc;
  margin: 25px auto;
}

@media (min-width: 320px) and (max-width: 400px) {
  .app {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .app {
    width: 320px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.stories {
  height: 70px;
  padding: 5px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  justify-content: left;
  -webkit-overflow-scrolling: touch;
}

.stories::-webkit-scrollbar {
  display: none;
}

.user {
  text-align: center;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

.user p {
  padding: 0;
  margin: 5px;
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("1.jpg");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.has-storie {
  border: 1px solid red;
}

.watched-storie {
  border: 1px solid grey;
}

.feed {
  width: 97%;
  height: 468px;
  margin: 0 5px;
  padding: 0;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

.feed .post {
  margin: 0 0 15px 0;
}

.feed .post .navigation {
  height: 35px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}

.feed .post .navigation .avatar {
  width: 35px;
}

.feed .post .navigation .info {
  margin: 0 10px;
  flex-grow: 2;
}

.feed .post .navigation .info p {
  padding: 0;
  margin: 2px;
}

.feed .post .navigation .info .username {
  font-weight: 600;
}

.feed .post .navigation button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 5px 0;
}

.feed .post .post-content {
  width: 100%;
  height: 200px;
  background: black;
}

.feed .post .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.feed .post .options button {
  margin: 5px 5px 0;
}

.feed .post .options span {
  flex-grow: 2;
}

.feed .post .comments {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 10px;
}

.feed .post .comments div {
  margin: 0;
  padding: 0;
}

.feed .post .comments .liked {
  display: flex;
  flex-direction: row;
}

.feed .post .comments .caption {
  margin: 0 0 5px 0;
}

.feed .post .comments p {
  margin: 5px 10px 0 0;
  padding: 0;
}

.feed .post .comments a {
  margin: 5px 5px 0 0;
  font-weight: 600;
}

.feed .post .comments .grey {
  color: grey;
}

.feed .post .comments .new-comment {
  height: 30px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.feed .post .comments .new-comment .avatar {
  width: 30px;
  background-size: 30px;
}

.feed .post .comments .new-comment input {
  padding: 0 5px;
}

.feed .post .comments .date {
  color: grey;
}

.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
/*# sourceMappingURL=styles.css.map */